body {
    font-family: "Open Sans", sans-serif;
}

/* header */
.hunddle-logo {
    background: url(../images/logo.svg) no-repeat;
}

.bt-try-if-free {
    height: 1.5em;
    min-width: 5em;
}

.bt-try-if-free a {
    font-size: .6em;
}

/* main */

.font-family-poppins {
    font-family: "Poppins", sans-serif;
}

.text-dark-cyan {
    color: hsl(192, 100%, 15%);
}

.fs-7 {
    font-size: .9em;
}

.fs-8 {
    font-size: 3.5em;
}

.fs-9 {
    font-size: 3.8em;
}

.fs-10 {
    font-size: .8em;
}

.py-2-2 {
    padding-top: .75em;
    padding-bottom: .75em;
}

.px-4-2 {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.mt-6 {
    margin-top: 15rem;
}

.start-0-1 {
    left: -50% !important;
}

.w-150 {
    width: 150%;
}

.bg-section-top-mobile-1 {
    background: white url(../images/bg-section-top-mobile-1.svg) no-repeat bottom;
    height: 112px;
}

.bg-section-bottom-mobile-1 {
    background: white url(../images/bg-section-bottom-mobile-1.svg) no-repeat bottom;
    height: 52px;
}

.bg-section-top-mobile-2 {
    background: white url(../images/bg-section-top-mobile-2.svg) no-repeat top;
    height: 103px;
}

.bg-section-bottom-mobile-2 {
    background: white url(../images/bg-section-bottom-mobile-2.svg) no-repeat top;
    height: 101px;
}

.bg-footer-top-mobile {
    background: white url(../images/bg-footer-top-mobile.svg) no-repeat top;
    height: 53px;
}

.bg-dark-cyan {
    background: hsl(192, 100%, 9%);
}

.bg-pale-blue {
    background: hsl(207, 100%, 98%);
}

.text-pale-blue {
    color: hsl(207, 100%, 98%);
}

.w-logo-top {
    width: 100px;
}

.w-icon-communities {
    width: 30px;
}

.w-icon-messages {
    width: 25px;
}

.btn-outline-pink {
    --bs-btn-color: hsl(322, 100%, 66%);
    --bs-btn-border-color: hsl(322, 100%, 66%);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(322, 100%, 66%);
    --bs-btn-hover-border-color: hsl(322, 100%, 66%);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(322, 100%, 66%);
    --bs-btn-active-border-color: hsl(322, 100%, 66%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: hsl(322, 100%, 66%);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: hsl(322, 100%, 66%);
    --bs-gradient: none;
}

.btn-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: hsl(322, 100%, 66%);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: hsl(322, 100%, 70%);
    --bs-btn-hover-border-color: hsl(322, 100%, 60%);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: hsl(322, 100%, 60%);
    --bs-btn-active-border-color: hsl(320, 100%, 66%);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: hsl(322, 100%, 66%);
    --bs-btn-disabled-border-color: hsl(322, 100%, 66%);
}

.btn-pink:hover {
    color: white;
    background-color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
}

.btn-outline-pink:hover {
    color: hsl(321, 100%, 78%);
    background-color: white;
    border-color: hsl(321, 100%, 78%);
    box-shadow: 0 0 5px hsl(321, 100%, 78%);
}

.box-shadow-1 {
    box-shadow: 0 10px 10px rgb(205, 205, 205);
}

.was-validated .form-control:invalid,
.was-validated .form-control:valid{
    background-image: none;
}

.svg-hover:hover {
    fill: aqua;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(322, 100%, 66%);
}

@media (min-width: 576px) {
    .fs-sm-8 {
        font-size: 3.5em;
    }

    .mt-6 {
        margin-top: 10rem;
    }

    .bg-sm-section-top-desktop-1 {
        background: white url(../images/bg-section-top-desktop-1.svg) no-repeat bottom;
        height: 165px;
        position: relative;
    }

    .bg-sm-section-top-desktop-1::after {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        right: 0;
        top: 30px;
    }

    .bg-sm-section-top-desktop-1::before {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        left: 0;
        top: 128px;
    }

    .bg-sm-section-bottom-desktop-1 {
        background: white url(../images/bg-section-bottom-desktop-1.svg) no-repeat bottom;
        height: 139px;
        position: relative;
    }

    .bg-sm-section-bottom-desktop-1::after {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        right: 0;
        top: -138px;
    }

    .bg-sm-section-bottom-desktop-1::before {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        left: 0;
        top: -27px;
    }

    .bg-sm-section-top-desktop-2 {
        background: white url(../images/bg-section-top-desktop-2.svg) no-repeat top;
        height: 156px;
        position: relative;
    }

    .bg-sm-section-top-desktop-2::after {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        right: 0;
        top: 35px;
    }

    .bg-sm-section-top-desktop-2::before {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        left: 0;
        top: 135px;
    }

    .bg-sm-section-bottom-desktop-2 {
        background: white url(../images/bg-section-bottom-desktop-2.svg) no-repeat top;
        height: 139px;
        position: relative;
    }

    .bg-sm-section-bottom-desktop-2::after {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        right: 0;
        top: -145px;
    }

    .bg-sm-section-bottom-desktop-2::before {
        content: "";
        background: hsl(207, 100%, 98%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        left: 0;
        top: -28px;
    }

    .bg-sm-footer-top-desktop {
        background: white url(../images/bg-footer-top-desktop.svg) no-repeat top;
        height: 158px;
        position: relative;
    }

    .bg-sm-footer-top-desktop::after {
        content: "";
        background: hsl(192, 100%, 9%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        right: 0;
        top: 60px;
    }

    .bg-sm-footer-top-desktop::before {
        content: "";
        background: hsl(192, 100%, 9%);
        width: calc((100vw - 1440px) / 2);
        height: 165px;
        position: absolute;
        left: 0;
        top: 100px;
    }
}

@media (min-width: 768px) {
    .px-md-6 {
        padding-left: 6em;
        padding-right: 6em;
    }

    .w-md-200px {
        width: 200px;
    }

    .fs-md-3 {
        font-size: calc(1.3rem + 0.6vw) !important;
    }

}

@media (min-width: 992px) {
    .fs-lg-1 {
        font-size: 2.3em;
    }

    .fs-md-6 {
        font-size: 1em;
    }

    .w-lg-logo-top {
        width: 150px;
    }

    .mb-lg-6 {
        margin-bottom: 7em !important;
    }
}

@media (min-width: 1200px) {
    .fs-xl-1 {
        font-size: 2.8em;
    }

    .fs-xl-5 {
        font-size: 1.1em;
    }

    .w-xl-logo-top {
        width: 200px;
    }

    .px-xl-6 {
        padding-left: 5em;
        padding-right: 5em;
    }

    .fs-xl-8 {
        font-size: 4em;
    }

    .mt-xl-6 {
        margin-top: 6em !important;
    }

    .mb-xl-6 {
        margin-bottom: 7em !important;
    }

    .mb-xl-7 {
        margin-bottom: 5em !important;
    }

    .fs-xl-2 {
        font-size: calc(1.325rem + 0.9vw) !important;
    }
}

@media (min-width: 1400px) {
    .position-xxl-absolute {
        position: absolute;
    }

    .fs-xxl-1 {
        font-size: 3em;
    }

    .fs-xxl-2 {
        font-size: 2.75em !important;
    }

    .fs-xxl-3 {
        font-size: 2.5em !important;
    }

    .w-xxl-logo-top {
        width: 240px;
    }

    .fs-xxl-6 {
        font-size: 1em !important;
    }

    .fs-xxl-5 {
        font-size: 1.2em !important;
    }

    .px-xl-6 {
        padding-left: 5.5em;
        padding-right: 5.5em;
    }

    .rounded-xxl-5 {
        border-radius: 6rem !important;
    }

    .fs-xxl-8 {
        font-size: 5em;
    }

    .w-xxl-icon-communities,
    .w-xxl-icon-messages {
        width: 40px;
    }

    .mb-xxl-7 {
        margin-bottom: 8em !important;
    }

    .mt-xxl-6 {
        margin-top: 10em !important;
    }

    .mb-xxl-6 {
        margin-bottom: 10em !important;
    }

    .h-xxl-50px {
        height: 50px;
    }

    .lh-xxl-lg {
        line-height: 2em;
    }

    .pe-xxl-6 {
        padding-right: 14em;
    }
}